<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> District Cn Selector</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="content" class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :js %>
  </body>
</html>
